@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 202 100% 43%;
    --primary-foreground: 202 77% 92%;
 
    --secondary: 45 100% 87%;
    --secondary-foreground: 44 51% 53%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground:45210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}
 
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground text-lg;
    font-family: 'SF Pro Display', sans-serif;
  }
}

/* Timeline styles */
.timeline-content:before {
  @apply absolute w-[186px] h-[6px] bg-[#CCE8F8] content-[""] translate-x-2/4 -translate-y-2/4  right-2/4 top-[calc(100%_+_49px)];
}

.timeline-content:after, .timeline-content-mobile:after {
  @apply absolute w-0.5 h-[30px] translate-x-2/4 -translate-y-2/4 z-[-1] content-[""] border-2 border-solid border-[#E6E6E6] right-2/4 top-[calc(100%_+_4px)];
}

.timeline-content-mobile:after {
  @apply h-[10px] top-[-9px];
}

.timeline-icon:before {
  @apply flex items-center justify-center font-bold w-[50px] h-[50px] bg-[#008DDD] content-["1"] absolute -translate-x-2/4 z-[2] rounded-[48px] border-[6px] border-solid border-white left-2/4 bottom-[calc(100%_+_16px)] text-white;
}

.timeline-content:nth-child(even) {
  @apply self-end before:-top-[48.5px] after:-top-3.5;
}

.timeline-content:nth-child(1), .timeline-content:nth-child(5) {
  @apply top-[28px];
}

.timeline-content:nth-child(6) {
  @apply bottom-[28px];
}

.timeline-content:nth-child(2) .timeline-icon::before {
  @apply content-["2"];
}

.timeline-content:nth-child(3) .timeline-icon::before {
  @apply content-["3"];
}

.timeline-content:nth-child(4) .timeline-icon::before {
  @apply content-["4"];
}

.timeline-content:nth-child(5) .timeline-icon::before {
  @apply content-["5"];
}

.timeline-content:nth-child(6) .timeline-icon::before {
  @apply content-["6"];
}

@media only screen and (min-width: 1029px) {  
  .timeline-content:nth-child(6) {
    @apply bottom-[27px];
  }

  .timeline-content:nth-child(2), .timeline-content:nth-child(4) {
    @apply top-[1px];
  }
}

@media only screen and (min-width: 1024px) {
  .timeline-content:nth-child(even)::before {
    @apply top-[-47.5px];
  }
}

.timeline-content:nth-child(even) .timeline-icon {
  @apply top-[-134px] before:top-[calc(100%_+_11px)];
}

.timeline-content:nth-child(1)::before {
  @apply w-[215px] rounded-tl-[48px] rounded-bl-[48px] right-[calc(50%_+_15px)];
}

.timeline-content:nth-child(6)::before {
  @apply w-[210px] right-[calc(50%_-_12px)];
}

.timeline::after {
  @apply absolute z-[-1] w-[6px] h-[6px] right-[5px] translate-y-[-46%] bottom-[112px] overflow-hidden content-[""] border-l-[4px] border-l-[#CCE8F8] border-t-[4px] border-b-[4px] border-y-transparent border-solid;
}

/* Upload styles */
.upload-btn:hover .upload-btn--check, .upload-btn:hover .upload-btn--replace {
  display: flex;
}

.upload-btn--replace input {
  -moz-opacity: 0;
  filter: alpha(opacity:0);
}

/* Embla carousel */
.embla__container {
  transform: none !important; /* override Embla */
}

.embla__slide {
  left: 0 !important; /* override Embla */
  right: 0 !important; /* override Embla */
}

.embla__slide.is-selected {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/*  Menu Sheet styles */
.menu-sheet button svg {
  width: 32px;
  height: 32px;
}