@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 202 100% 43%;
    --primary-foreground: 202 77% 92%;
 
    --secondary: 45 100% 87%;
    --secondary-foreground: 44 51% 53%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground:45210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}
 
@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground text-lg;
    font-family: 'SF Pro Display', sans-serif;
  }
}

/* Timeline styles */
.timeline-content:before {
  @apply absolute w-[186px] h-5 bg-[#008DDD] content-[""] translate-x-2/4 -translate-y-2/4 border-y-2 border-y-[rgba(255,255,255,0.20)] border-solid right-2/4 top-[calc(100%_+_49px)];
}

.timeline-content:after {
  @apply absolute w-0.5 h-[30px] translate-x-2/4 -translate-y-2/4 z-[-1] content-[""] border-2 border-dashed border-[#b3b3b3] right-2/4 top-[calc(100%_+_15px)];
}

.timeline-icon:before {
  @apply w-[50px] h-[50px] bg-white content-[""] absolute -translate-x-2/4 z-[2] rounded-[48px] border-[6px] border-solid border-[#0190C3] left-2/4 bottom-[calc(100%_+_16px)];
}

.timeline-content:nth-child(even) {
  @apply self-end before:-top-12 after:-top-3.5;
}

.timeline-content:nth-child(2), .timeline-content:nth-child(4) {
  @apply -bottom-7;
}
.timeline-content:nth-child(3) {
  @apply -top-7;
}

.timeline-content:nth-child(even) .timeline-icon {
  @apply top-[-134px] before:top-[calc(100%_+_11px)];
}

.timeline-content:nth-child(1)::before {
  @apply w-[225px] rounded-tl-[48px] rounded-bl-[48px] right-[calc(50%_+_19px)];
  background: linear-gradient(90deg, #008ddd, #009591);
}

.timeline-content:nth-child(2)::before {
  background: linear-gradient(90deg, #009591, #009d3f);
}

.timeline-content:nth-child(3)::before {
  background: linear-gradient(90deg, #009d3f, #00a379);
}

.timeline-content:nth-child(4)::before {
  background: linear-gradient(90deg, #00a379, #00a9b4);
}

.timeline-content:nth-child(5)::before {
  background: linear-gradient(90deg, #00a9b4, #3854c9);
}

.timeline-content:nth-child(6)::before {
  @apply w-[210px] right-[calc(50%_-_12px)];
  background: linear-gradient(90deg, #3854c9, #6f00de);
}

.timeline::after {
  @apply absolute w-2.5 h-2.5 right-[-19.45px] overflow-hidden content-[""] border-l-[11px] border-l-[#6F00DE] border-y-[11px] border-y-transparent border-solid;
}

/* Upload styles */
.upload-btn:hover .upload-btn--check {
  display: flex;
}
